{{define "subject"}}Test subject{{end}}

{{define "plainBody"}}
This is a test plaintext email with {{ uppercase .}}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>This is a test HTML email with {{ uppercase .}}</p>
  </body>
</html>
{{end}}